
huggingface-hub==0.34.4
importlib_resources==6.5.2
matplotlib==3.9.2
networkx==3.4.2
numpy==1.26.4
pillow==11.2.1
torch==2.8.0
torchvision==0.23.0
transformers==4.55.0
wordcloud==1.9.4
xgboost==3.0.0
beautifulsoup4


